<div class="company flex">
	<div class="my_banners white-div">
		<div class="line-1 flex">
			<div class="title-div">
				<img src="assets/images/settings-gray.png" class="title-icon">
				<h2 class="title-text">Мои баннеры</h2>
			</div>
			<button class="btn-blue"><span>+</span> Создать баннер</button>
		</div>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th>Название</th>
						<th>Статус</th>
						<th>Показы</th>
						<th>Расход</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bolder">Лонгер сырный</td>
						<td>
							<div ng-if="true">
								<img class="img-default" src="assets/images/pause-green.png" alt="">
								<img class="img-hover" src="assets/images/pause-white.png" alt="">
								<span class="my-tooltip right">не активный</span>
							</div>
							<div ng-if="false">
								<img class="img-default" src="assets/images/play-green.png" alt="">
								<img class="img-hover" src="assets/images/play-white.png" alt="">
								<span class="my-tooltip right">активный</span>
							</div>

						</td>
						<td>45987</td>
						<td>201.56 <i class="fa fa-rub"></i></td>
					</tr>
					<tr>
						<td class="bolder">Лонгер сырный</td>
						<td>
							<div ng-if="false">
								<img class="img-default" src="assets/images/pause-green.png" alt="">
								<img class="img-hover" src="assets/images/pause-white.png" alt="">
								<span class="my-tooltip right">не активный</span>
							</div>
							<div ng-if="true">
								<img class="img-default" src="assets/images/play-green.png" alt="">
								<img class="img-hover" src="assets/images/play-white.png" alt="">
								<span class="my-tooltip right">активный</span>
							</div>

						</td>
						<td>45987</td>
						<td>201.56 <i class="fa fa-rub"></i></td>
					</tr>
					<tr>
						<td class="bolder">Лонгер сырный</td>
						<td>
							<div ng-if="false">
								<img class="img-default" src="assets/images/pause-green.png" alt="">
								<img class="img-hover" src="assets/images/pause-white.png" alt="">
								<span class="my-tooltip right">не активный</span>
							</div>
							<div ng-if="true">
								<img class="img-default" src="assets/images/play-green.png" alt="">
								<img class="img-hover" src="assets/images/play-white.png" alt="">
								<span class="my-tooltip right">активный</span>
							</div>

						</td>
						<td>45987</td>
						<td>201.56 <i class="fa fa-rub"></i></td>
					</tr>
					<tr>
						<td class="bolder">Лонгер сырный</td>
						<td>
							<div ng-if="false">
								<img class="img-default" src="assets/images/pause-green.png" alt="">
								<img class="img-hover" src="assets/images/pause-white.png" alt="">
								<span class="my-tooltip right">не активный</span>
							</div>
							<div ng-if="true">
								<img class="img-default" src="assets/images/play-green.png" alt="">
								<img class="img-hover" src="assets/images/play-white.png" alt="">
								<span class="my-tooltip right">активный</span>
							</div>

						</td>
						<td>45987</td>
						<td>201.56 <i class="fa fa-rub"></i></td>
					</tr>
					<tr>
						<td class="bolder">Лонгер сырный</td>
						<td>
							<div ng-if="false">
								<img class="img-default" src="assets/images/pause-green.png" alt="">
								<img class="img-hover" src="assets/images/pause-white.png" alt="">
								<span class="my-tooltip right">не активный</span>
							</div>
							<div ng-if="true">
								<img class="img-default" src="assets/images/play-green.png" alt="">
								<img class="img-hover" src="assets/images/play-white.png" alt="">
								<span class="my-tooltip right">активный</span>
							</div>

						</td>
						<td>45987</td>
						<td>201.56 <i class="fa fa-rub"></i></td>
					</tr>
					<tr>
						<td class="bolder">Лонгер сырный</td>
						<td>
							<div ng-if="false">
								<img class="img-default" src="assets/images/pause-green.png" alt="">
								<img class="img-hover" src="assets/images/pause-white.png" alt="">
								<span class="my-tooltip right">не активный</span>
							</div>
							<div ng-if="true">
								<img class="img-default" src="assets/images/play-green.png" alt="">
								<img class="img-hover" src="assets/images/play-white.png" alt="">
								<span class="my-tooltip right">активный</span>
							</div>

						</td>
						<td>45987</td>
						<td>201.56 <i class="fa fa-rub"></i></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="show-more">
			<div class="flex">
				<span><<</span>
				<span>Подробнее</span>
				<span>>></span>
			</div>			
		</div>
	</div>
	<div class="right-side">
		<div class="my-balance white-div">
			<div class="line-1 flex">
				<div class="title-div">
					<img src="assets/images/wallet-gray.png" class="title-icon">
					<h2 class="title-text">Мои баланс</h2>
				</div>
				<img class="arrow-right" src="assets/images/right-arrow-green.png" alt="">
			</div>
			<p><span class="bolder">53422</span>рублей</p>
			<button class="btn-green">+ Пополнить баланс</button>
		</div>
	</div>
</div>