.company  .line-1{
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px solid #eaeaea;
}

.company .invisible{
	opacity: 0;
}

.company .my_banners{
	height: 450px;
	width: 420px;
	min-width: 380px
}

.company .my_banners .line-1{
	padding: 15px;
}

.company .my_banners td:not(:first-child){
	text-align: center;
	padding-right: 15px;
}

.company table{
	width: 100%;
}

.company .table{
	padding:0 15px;
}

.company tr{
	border-bottom: 0;
	height: 50px;
}

.company thead tr{
	height: 20px;
}

.company th{
	color: #999999;
	font-size: 12px;
}

.company td{
	position: relative;
	padding: 0px;
}

.company td:first-child{
	padding-left: 10px;
}

.company .my_banners td:hover .my-tooltip{
	display: block;
}

.company .my_banners td:first-child{
	max-width: 150px;
}

.company .my_banners .status-image div{
	width: 23px;
	height: 23px;
	margin-right: 0;
	margin-left: 15px;
}


.company .my_banners td img{
	width: 23px;
	height: 23px;
}

.company .img-hover{
	display: none;
}

.company .my_banners thead tr:hover{
	background: #fff
}

.company .my_banners tr:hover{
	color: #fff;
	background: #3b9e1d
}

.company .my_banners tr:hover .bolder{
	color: #fff;
}

.company .my_banners tr:hover .img-hover{
	display: block;
	width: 23px;
	height: 23px;
}

.company .my_banners tr:hover .img-default{
	display: none;
}

.company .my_banners .show-more{
	padding: 15px;
}

.company .my_banners .show-more .flex{
	justify-content: center;
	border-top: 2px solid #eaeaea;
	padding-top: 15px;
}

.company .my_banners .show-more .flex:hover span{
	color: #999;
	cursor: pointer;
}

.company .my-tooltip.right{
  left: 60%;
  bottom: 20%;
  width: 120px;
  text-align: center;
}

.company .my-tooltip.right::after,.company .my-tooltip.right::before {
  left:-3px;
  bottom: 40%;
}

.company .my-balance,.company .video{
	padding: 15px;
	margin-left: 0;
	justify-content: space-between;
}

.company .video{
	margin-right: 0;
}

.company .my-balance .line-1{
	border-bottom: 0;
}

.company .my-balance .bolder{
	margin-right: 10px;
}

.company .my-balance .arrow-right{
	cursor: pointer;
	height: 15px;
}

.company .my-balance p{
	font-size: 30px;
	margin: 20px 0;
	color: #303030;		
}

.company .my-balance .btn-green{
	width: 100%;
	padding: 14px 15px;
	font-size: 15px;
	margin-top: 10px;
}

.company .video{
	margin-right: 10px;
}

.company iframe{
	width: 80%;
	height: 130px;
	border: 2px dashed #00aed0;
	margin: 0 auto;
	margin-top: 15px;
	display: block;
	border-radius: 5px;
}

.company .support{
	margin: 0;
	margin-right: 10px;
	font-family: 'OpenSans';
}

.company .support .title-icon{
	width: 24px;
	height: 16px;
}

.company .support .line-1{
	padding: 15px;
	justify-content: space-between;
}

.company .support .line-1 a{
	color: #3b9e1d;
	border-bottom: 1px dashed #3b9e1d;
}

.company .support .operations .btn-gray{
	width: 25px;
	height: 25px;
}

.company .support td{
	max-width: 180px;
}

.company .support  .ask{
	width: 95%;
	margin: 0 auto;
	border-top: 1px solid #eaeaea;
	padding: 15px;
	padding-left: 0;
}
