.company .my_banners .line-1{
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #eaeaea;
}

.company table{
	width: 100%;
}

.company .table{
	padding:0 15px;
}

.company tr{
	border-bottom: 0;
	height: 50px;

}

.company thead tr{
	height: 20px;
}

.company th{
	color: #999999;
	font-size: 12px;
}

.company td{
	position: relative;
}

.company td:hover .my-tooltip{
	display: block;
}

.company  .line-1 .title-div{
	margin-right: 80px;
}

.company .my_banners td:first-child{
	max-width: 180px;
}

.company .my_banners td img{
	width: 23px;
	height: 23px;
}

.company .img-hover{
	display: none;
}

.company .my_banners thead tr:hover{
	background: #fff
}

.company .my_banners tr:hover{
	color: #fff;
	background: #3b9e1d
}

.company .my_banners tr:hover .bolder{
	color: #fff;
}

.company .my_banners tr:hover .img-hover{
	display: block;
	width: 23px;
	height: 23px;
}

.company .my_banners tr:hover .img-default{
	display: none;
}

.company .my_banners .show-more{
	padding: 20px;
}

.company .my_banners .show-more .flex{
	justify-content: center;
	border-top: 2px solid #eaeaea;
	padding-top: 15px;
}

.company .my_banners .show-more .flex:hover span{
	color: #999;
	cursor: pointer;
}

.company .my-tooltip.right{
  left: 45%;
  bottom: 22%;
  width: 120px;
  text-align: center;
}

.company .my-tooltip.right::after,.company .my-tooltip.right::before {
  left:-3px;
  bottom: 40%;
}

.company .my-balance{
	padding: 20px;
}

.company .my-balance .arrow-right{
	cursor: pointer;
	height: 15px;
}

.company .my-balance p{
	font-size: 30px;
	margin: 20px 0;
	color: #303030;		
}

.company .my-balance .btn-green{
	width: 100%;
	padding: 14px 15px;
	font-size: 15px;
	margin-top: 10px;
}