<div class="ap_reklamodateli  white-div">
	<div class="line-1 flex">
		<div class="title-div">
			<i class="fa fa-list"></i>
			<h2 class="title-text">Program Structure</h2>
		</div>
	</div>
	<div class="line-2 flex">
		<div>
			<input type="text" ng-change="vm.search()"	ng-model="vm.searchText" class="input input-search" placeholder="Find course...">
		</div>
		<p>Total subhjetcs count	- 58</p>	
	</div>
	<div ng-repeat="i in [1,2,3,4,5,6,7]">
		<h3 style="font-weight: bold;font-size: 30px;text-align: center;" class="blue">{{i}}</h3>
	<table>
		<thead>
		<tr>
			<th>№</th>
			<th>Course code</th>
			<th>Name</th>
			<th>{{"  "}} </th>
			<th>Teor</th>
			<th>Pr</th>
			<th>Cr</th>
			<th>Ects</th>
			<th>Grade</th>
			<th>{{"       "}}</th>
		</tr>			
		</thead>
		<tbody>
			<tr ng-repeat="company in [0,1,2,3,4,5,6,7,8,9]">
				<td>{{$index+1}}</td>
				<td >CSS 101		
				</td>
				<td class="blue">Algorithms and Programming</td>
				<td>{{" "}}</td>
				<td>2</td>
				<td>0+4</td>
				<td>4</td>
				<td>6</td>
				<td class="green">A</td>
				<td>0</td>
			</tr>
			
		</tbody>
	</table>	
	</div>
	
</div>