.lk_reklamodatel header .btn-green{
	border-radius: 100%;
	padding:4px 8px;
	font-size: 17px;
	margin-left: 20px;
	margin-right: 60px;
}

.lk_reklamodatel .sidebar .item img{
  width: 18px; 
  height: 20px;
  margin-left: 5px;
}