.payments .line-1{
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  height: 70px;
  padding:20px;

}

.payments .line-2{
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding:20px;
  font-weight: normal;
}

.payments .line-2 span{
  font-weight: 500;
  color: #404040;
}

.payments .line-3{
  -ms-align-items: center;
  align-items: center;
  padding: 20px;
  color: #303030;
}

.payments .line-3 .input{
  padding: 11px 17px;
  border: 1px solid #e1e1e1;
  padding-right: 50px;
  cursor: pointer;
}

.payments datepicker{
  width: 240px;
}

.payments .line-3 p{
  margin: 0 20px; 
}

.payments .line-3 p:first-child{
  margin-left: 0;
}

.payments td.summ{
  font-weight: bold;
}

.payments .with-photo .user-photo{
  margin-right: 10px;
  background: url('../assets/images/kfc.png');
  background-size: cover;
  background-position: center center;
}

.payments .status{
  color: #008eaa;
}

.payments td.green{
  color: #3b9e1d;
}

.payments td:last-child .btn-green{
   padding: 7px 16px;
}
